@(content: Html)

<!DOCTYPE text/html>
<html>
  <head>
    <title> Computer Science @@ UBU</title>

    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAk5492qs1STw-cpipQKRGmEf54y5MoyFg",
        authDomain: "java285ubu-2ad55.firebaseapp.com",
        databaseURL: "https://java285ubu-2ad55.firebaseio.com",
        projectId: "java285ubu-2ad55",
        storageBucket: "java285ubu-2ad55.appspot.com",
        messagingSenderId: "1082122297585"
      };
      firebase.initializeApp(config);
    </script>

    <link rel="stylesheet" href="assets/stylesheets/bootstrap-3.3.7-min.css" >
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="assets/stylesheets/font-awesome-4.7.0-min.css"  >
    <link rel="stylesheet" href="assets/stylesheets/csubu.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
    <script src="assets/javascripts/bootstrap-3.3.7-min.js" ></script>
    <script src="assets/javascripts/csubu.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="column col-sm-12 col-xs-12" id="main">

            <div class="padding padding-blue">
              <div class="full col-sm-11">
                <div class="navbar navbar-blue navbar-static-top">  
                  <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand logo">cs</a>
                  </div>
                  <nav class="collapse navbar-collapse" role="navigation">
                    <form class="navbar-form navbar-left">
                      <div class="input-group input-group-sm" style="max-width:360px;">
                        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                        <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </form>
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                      </li>
                      <li>
                        <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> Post</a>
                      </li>
                      <li>
                        <a href="#"><span class="badge">badge</span></a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- /top nav -->
              </div>
            </div>

            <div class="padding">
              <div class="full col-sm-9">

                <!-- content -->                      
                <div class="row">

                  @content

                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                  </div>
                </div>

                <div class="row" id="footer">    
                  <div class="col-sm-6">

                  </div>
                  <div class="col-sm-6">
                    <p>
                      <a href="#" class="pull-right">©Copyright 2013</a>
                    </p>
                  </div>
                </div>

                <hr>

                <h4 class="text-center">
                </h4>

                <hr>


              </div><!-- /col-9 -->
            </div><!-- /padding -->
          </div>
          <!-- /main -->

        </div>
      </div>
    </div>

    </body>
  </html>
