<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .navbar {
        margin-bottom: 0;
        border-radius: 0;

      }
      .im {
          border-radius: 50%;
      }
    </style>

    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Portfolio</a>
        </div>

    </nav>

    <div class="jumbotron">
      <div class="container text-center">
        <h1>My Portfolio</h1>
        <img class="im" src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/13872781_1022257794561337_4481857410956859142_n.jpg?oh=98e00e78c81a906a9604a3d4acee3f0c&oe=595ADD6C" alt="Mountain View" style="width:304px;height:290px;">
        <br>
        <h1>I'm Got</h1>
      </div>
    </div>

    <div class="container-fluid bg-3 text-center">
      <h2>My football player</h2><br>
      <div class="row">
        <div class="col-sm-3">
          <h3>Philippe Coutinho</h3>
          <img src="https://pbs.twimg.com/media/ChToA4uW4AAUMpz.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <h3>Jodan Hendosan</h3>
          <img src="https://pbs.twimg.com/media/Cu5vKUMWIAAv2gy.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <h3>Adam Lallana</h3>
          <img src="https://pbs.twimg.com/media/CsBjc8uXYAIbJSh.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <h3>Roberto Firmino</h3>
          <img src="https://pbs.twimg.com/media/Cu5vKUPWYAQNoYI.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>

  </body>
</html>
